main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section {
    margin-top: 100px;
    width: 1110px;
    height: 410px;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
    border-radius: 10px;
}