* {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: white;
    height: 6vh;
    width: 99.5vw;
    position: fixed;
    box-shadow: 3px 2px 9px 2px #8e8e8e;
}

header > img {
    position: relative;
    width: 100px;
    height: 50px;
    left: 1vw;
}

header > ul {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
}

header > ul > li {
    padding-left: 20px;
    margin-top: 2vh;
    display: inline-block;
}

main > nav > section:first-child {
    display: inline-block;
    z-index: -1;
    width: 15vw;
    height: 100vh;
    position: fixed;
    margin: 0;
    background-color: purple;
}

main > nav > section > ul {
    position: absolute;
    list-style: none;
    font-size: 20px;
    top: 20vh;
}

main > nav > section > ul > li {
    color: white;
    margin-bottom: 4vh;
    font-weight: bold;
}

main > section:first-child {
    position: relative;
}

div {
    position: absolute;
    z-index: -2;
    /*left: 26vw;*/
    right: 0;
    /*margin: auto;*/
    top: 7.5vh;
    height: 24vh;
    width: 83vw;
    margin: 0;
}

div > img {
    height: 24vh;
    width: 27vw;
}

.para {
    position: absolute;
    z-index: -2;
    top: 31vh;
    width: 84vw;
    right: 0;
    margin: auto;
    background-color: white;
}

.para > p {
    position: relative;
    margin-left: 20px;
    font-size: 20px;
}

footer {
    background-color: gray;
    height: 6vh;
    width: 99vw;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer > p {
    color: white;
    text-align: center;
    font-size: 20px;
}
