* {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
}

/* Background */
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #3A86FF;
    opacity: 0.7;
    animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
    left: 6%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 48%;
    width: 142px;
    height: 142px;
    bottom: -142px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 28%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 4s;
}
.background li:nth-child(3) {
    left: 2%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 3s;
}
.background li:nth-child(4) {
    left: 62%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 6s;
}
.background li:nth-child(5) {
    left: 5%;
    width: 197px;
    height: 197px;
    bottom: -197px;
    animation-delay: 21s;
}
.background li:nth-child(6) {
    left: 21%;
    width: 172px;
    height: 172px;
    bottom: -172px;
    animation-delay: 29s;
}
.background li:nth-child(7) {
    left: 61%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 6s;
}
.background li:nth-child(8) {
    left: 18%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 25s;
}
.background li:nth-child(9) {
    left: 21%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 33s;
}


/* Top bar */

.top-bar {
    position: fixed;
    z-index: 3;
    display: inline-block;
    height: 60px;
    width: 99.5vw;
    padding: 0;
    box-shadow: 2px 0 5px 5px #3A86FF;
    background-color: white;
}

.top-bar img {
    position: relative;
    margin-left: 88px;
    margin-top: 4px;
}

.top-bar button {
    display: none;
}

main > section:first-child {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

.main-image {
    background-color: #c9c9c9;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 1;
    width: 99.5vw;
    height: 100vh;
}

.main-image > img {
    width: 99.5vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 40%;
}

header li {
    display: inline-block;
    margin-left: 20px;
}

header ul {
    position: absolute;
    right: 88px;
    top: 0;
}

header ul li:hover a, header ul li:hover {
    cursor: pointer;
    color: #3A86FF;
}

a, header ul li {
    text-decoration: none;
    color: #313131;
}


/* Home */

.main-description {
    z-index: 2;
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 30px;
    align-content: center;
    text-shadow: 0 4px 30px #3A86FF;
}

.main-description > h1 {
    font-size: 3em;
    color: #313131;
    margin-bottom: 10px;
}

.main-description > h1 > i {
    font-size: 1em;
    color: #3A86FF;
    margin-bottom: 10px;
}

.main-description > h2 {
    font-size: 2em;
    color: #3C3C3C;
    margin-bottom: 10px;
}

.main-description > h3 {
    font-size: 1.5em;
    color: #646464;
}

.des-image {
    position: absolute;
    right: 160px;
    top: 280px;
    margin: auto;
}

.des-image img {
    width: 228px;
    height: 304px;
    border-radius: 30px;
    box-shadow: 4px 0 76px 10px #3A86FF;
}

.social-icons {
    position: absolute;
    left: 200px;
    bottom: 100px;
    z-index: 5;
}

.social-icons img {
    width: 40px;
    height: 100%;
    margin-right: 38px;
}

.social-icons img:hover {
    cursor: pointer;
    transition: all 1.5s;
    transform: rotateY(360deg);
}


/* About */

.about-section {
    display: inline-block;
    width: 99.5vw;
    margin-bottom: 80px;
}

.about-section > h1 {
    font-size: 3em;
    position: relative;
    text-align: center;
    margin-top: 100px;
    color: #313131;
}

.about-section > aside:nth-child(3) {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 80px;
}

.about-section > aside > section {
    display: flex;
}

.about-section > aside:nth-child(3) > section {
    position: relative;
    height: 650px;
    width: 1300px;
}

.about-section > aside > section > aside:last-child {
    display: flex;
    flex-direction: column;
}

.intro-image {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.intro-image > img {
    width: 413px;
    height: 560px;
    border-radius: 10px;
    margin-left: 88px;
}

.info {
    font-size: 1em;
    font-weight: bold;
    color: #313131;
    margin-top: 40px;
    margin-bottom: 60px;
}

.info span {
    font-weight: normal;
    color: #646464;
}

.responsive-info {
    display: none;
}

.des {
    color: #646464;
    margin-bottom: 80px;
}

.about-section button {
    background-color: #3A86FF;
    width: 196px;
    height: 56px;
    border: none;
    border-radius: 10px;
    color: white;
}


/* Education */

.edu {
    position: relative;
}

.edu > aside {
    display: flex;
    align-content: center;
    justify-content: center;
}

.edu > aside > section {
    position: relative;
    width: 700px;
    height: 550px;
}

.edu > h2 {
    text-align: center;
    font-size: 2em;
    color: #313131;
    margin-bottom: 80px;
}

.line {
    display: inline-block;
    position: absolute;
    border-left: 1px solid #3A86FF;
    height: 500px;
    width: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    animation-name: line-animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.edu-details {
    position: absolute;
    display: inline-block;
    width: 304px;
    height: 200px;
}

.edu section > div:nth-child(2) {
    left: 0;
    top: 0;
}

.edu section > div:nth-child(3) {
    right: 0;
    top: 166px;
}

.edu section > div:nth-child(4) {
    left: 0;
    top: 332px;
}

.edu section > div:nth-child(5) {
    right: 0;
    top: 498px;
}

.edu-details > p:first-child {
    color: #282828;
    font-size: 1em;
    margin-top: 0;
}

.edu-details a {
    text-decoration: none;
    color: #313131;
    font-size: 16px;
}

.edu-details > p:nth-child(3) {
    color: #BBBBBB;
    font-size: 16px;
}

.edu-details > p:nth-child(4) {
    color: #3A86FF;
    font-size: 16px;
}

.edu section > div:nth-child(6) {
    position: absolute;
    background-color: #3A86FF;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.edu section > div:nth-child(7) {
    position: absolute;
    background-color: #3A86FF;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 166px;
    margin: auto;
}

.edu section > div:nth-child(8) {
    position: absolute;
    background-color: #3A86FF;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 332px;
    margin: auto;
}

.edu section > div:nth-child(9) {
    position: absolute;
    background-color: #3A86FF;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 498px;
    margin: auto;
}


/*  Skills */

.skills {
    position: relative;
    display: inline-block;
    width: 99.5vw;
    height: 1500px;
    margin-bottom: 80px;
}

.skills > h1 {
    font-size: 3em;
    position: relative;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    color: #313131;
}

.skills > section {
    position: relative;
}

.skills > section > aside:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 628px;
    height: 628px;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
    cursor: pointer;
}

.skills > section > aside:nth-child(1)::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    border: 15px solid white;
    transition: all 2s;
    cursor: pointer;
}

.skills > section > aside:nth-child(1):hover::before {
    border-top: 15px solid crimson;
    transform: rotate(360deg);
    transition: all 2s;
}

.skills > section > aside:nth-child(1) > img {
    position: absolute;
    height: 578px;
    width: 578px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    box-shadow: 4px 0 30px 10px #B8B8B8;
}

.skills > section > aside:nth-child(1) > img:nth-child(2) {
    box-shadow: 4px 0 76px 10px #3A86FF;
    border: 1px solid #3A86FF;
    height: 350px;
    width: 350px;
    opacity: 0.5;
}

.skills > section > aside:nth-child(1) > img:nth-child(1) {
    /*opacity: 0.7;*/
}

.skills > section > aside:nth-child(2) {
    position: relative;
}

.skills > section > aside:nth-child(2) {
    position: relative;
    /*height: 980px;*/
    top: 680px;
}

.skills > section > aside:nth-child(1) > section {
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 578px;
    height: 578px;
}

.skills > section > aside:nth-child(1) > section > div {
    position: relative;
    width: calc(100% / 5);
}

.skills > section > aside:nth-child(1) > section > div > div:first-child, .skills > section > aside:nth-child(1) > section > div > div:nth-child(2) {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    width: 70px;
    margin: auto;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills > section > aside:nth-child(1) > section > div p {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    color: white;
    font-weight: bold;
}


/* Languages */

.skills > section > aside:nth-child(1) > section > div:first-child > div:first-child, .skills > section > aside:nth-child(1) > section > div:last-child > div:first-child {
    top: 184px;
}

.skills > section > aside:nth-child(1) > section > div:first-child > div:nth-child(2), .skills > section > aside:nth-child(1) > section > div:last-child > div:nth-child(2) {
    bottom: 184px;
}

.skills > section > aside:nth-child(1) > section > div:nth-child(2) > div:first-child, .skills > section > aside:nth-child(1) > section > div:nth-child(4) > div:first-child {
    top: 60px;
}

.skills > section > aside:nth-child(1) > section > div:nth-child(2) > div:first-child {
    margin-right: 40px;
}

.skills > section > aside:nth-child(1) > section > div:nth-child(4) > div:nth-child(2) {
    margin-left: 40px;
}

.skills > section > aside:nth-child(1) > section > div:nth-child(4) > div:first-child {
    margin-left: 40px;
}

.skills > section > aside:nth-child(1) > section > div:nth-child(2) > div:nth-child(2) {
    margin-right: 40px;
}

.skills > section > aside:nth-child(1) > section > div:nth-child(2) > div:nth-child(2), .skills > section > aside:nth-child(1) > section > div:nth-child(4) > div:nth-child(2) {
    bottom: 60px;
}

.skills > section > aside:nth-child(1) > section > div:nth-child(3) > div:first-child {
    top: 17px;
}

.skills > section > aside:nth-child(1) > section > div:nth-child(3) > div:nth-child(2) {
    bottom: 17px;
}


/* Certificate */

.skills h2 {
    font-size: 2em;
    text-align: center;
    color: #313131;
    margin-bottom: 80px;
}

.skills > section > aside:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills > section > aside:last-child > section {
    position: relative;
    display: flex;
    width: 900px;
    height: 420px;
    justify-content: center;
}

.skills > section > aside:last-child > section > div {
    display: flex;
    align-items: center;
}

.skills > section > aside:last-child > section > div > button {
    margin: 55px;
    background: none;
    border: none;
}

.skills > section > aside:last-child > section > div > button > i {
    font-size: 3em;
    color: #3A86FF;
}

.skills > section > aside > section > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.skills > section > aside > section > div:nth-child(2):hover .skills > section > aside > section > div:nth-child(2)>div:first-child>img{
    height: 1000px;
}

.skills > section > aside:last-child > section > div:nth-child(2) > div {
    background-image: url("../images/certificate-1.png");
    background-size: cover;
    background-position: center;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
}

.skills > section > aside:last-child > section > div:nth-child(2) > div:nth-child(1) {
    width: 360px;
    height: 250px;
    margin-right: -230px;
}

.skills > section > aside:last-child > section > div:nth-child(2) > div:nth-child(2) {
    width: 550px;
    height: 420px;
}

.skills > section > aside:last-child > section > div:nth-child(2) > div:nth-child(3) {
    z-index: -1;
    width: 360px;
    height: 250px;
    margin-left: -230px;
}


/* Services */

.services {
    position: relative;
    display: inline-block;
    width: 99.5vw;
    margin-bottom: 20px;
}

.services > h1 {
    margin: 0 0 80px;
    text-align: center;
    font-size: 3em;
    color: #313131;
}

.services > div {
    display: flex;
    position: relative;
    /*padding-left: 200px;*/
    align-content: center;
    justify-content: center;
}

.services > div > div {
    position: relative;
    display: flex;
    margin-left: 44px;
    margin-right: 44px;
    margin-bottom: 80px;
    height: 300px;
    width: 400px;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
    border-radius: 10px;
    flex-direction: column;
}

.services > div > div:hover {
    cursor: pointer;
}

.services > div > div > div {
    display: flex;
    width: 100%;
    height: calc(100% / 4);
    flex-wrap: wrap;
}

.services > div > div > div:first-child {
    display: flex;
    width: 100%;
    height: calc(100% / 2);
}

.services > div > div > div:first-child {
    align-items: end;
    justify-content: center;
}

.services > div > div > div:first-child > i {
    color: #3A86FF;
    font-size: 3em;
}

.services > div > div > div:first-child > i:hover {
    cursor: pointer;
    font-size: 4em;
}

.services > div > div > div:nth-child(2) {
    align-items: center;
    justify-content: center;
}

.services > div > div > div:nth-child(2) > p {
    color: #2B2B2B;
    font-size: 1em;
}

.services > div > div > div:nth-child(3) {
    align-items: center;
    justify-content: center;
}

.services > div > div > div:nth-child(3) > button {
    color: #3A86FF;
    font-size: 1em;
    background: none;
    border: none;
}

.services > div > div > div:nth-child(3) > button:hover {
    background-color: #3A86FF;
    color: white;
    opacity: 0.2;
    box-shadow: 4px 0 76px 10px #3A86FF;
}


/* Projects */

.project {
    position: relative;
    margin-bottom: 80px;
}

.project > h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 3em;
    color: #313131;
}

.project > aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project > aside > div {
    margin: 55px;
}

.project > aside > div > button {
    background: none;
    border: none;
}

.project > aside > div > button > i {
    font-size: 3em;
    color: #3A86FF;
}

.project > aside > section > div > img:hover {
    transition: all 0.6s;
    transform: rotateY(360deg);
}

.project > aside > section {
    display: flex;
    width: 780px;
    height: 450px;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
    border-radius: 10px;
    justify-content: center;
}

.project > aside > section > div {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.project > aside > section > div:first-child {
    align-items: center;
    justify-content: center;
}

.project > aside > section > div:nth-child(2) {
    flex-direction: column;
}

.project > aside > section > div:nth-child(1) > img {
    width: 350px;
    height: 220px;
}

.project > aside > section > div:nth-child(2) > h3 {
    margin-top: 75px;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 1.1em;
    color: #2B2B2B;
}

.project > aside > section > div:nth-child(2) > h4 {
    margin-top: 0;
    margin-left: 90px;
    margin-bottom: 0;
    font-size: 1em;
    color: #646464;
    font-weight: normal;
}

.project > aside > section > div:nth-child(2) > ul {
    list-style: none;
    margin-left: 90px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.project > aside > section > div:nth-child(2) > ul > li {
    padding: 0 0 2px;
    color: #B8B8B8;
    font-size: 16px;
}

.project > aside > section > div:nth-child(2) > button {
    width: 196px;
    height: 56px;
    margin-left: 90px;
    border-radius: 8px;
    background-color: #3A86FF;
    border: none;
}

.project > aside > section > div:nth-child(2) > button > a {
    color: white;
}


/* Gallery */

.gallery > h1 {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 3em;
    color: #313131;
}

.gallery > aside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery > aside > section {
    display: grid;
    width: 1000px;
    height: 750px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.gallery > aside > section > div {
    border-radius: 10px;
    box-shadow: 2px 0 5px 5px #8e8e8e;
    background-size: cover !important;
    background-position: center !important;
}

.gallery > aside > section > div:first-child {
    background: url("../images/gallery-1.jpeg");
    grid-column: 1/3;
}

.gallery > aside > section > div:nth-child(2) {
    background: url("../images/gallery-2.jpg");
    grid-column: 3/6;
}

.gallery > aside > section > div:nth-child(3) {
    background: url("../images/gallery1.svg");
}

.gallery > aside > section > div:nth-child(4) {
    background: url("../images/gallery-4.jpg");
}

.gallery > aside > section > div:nth-child(5) {
    background: url("../images/gallery-9.jpg");
}

.gallery > aside > section > div:nth-child(6) {
    background: url("../images/gallery3.svg");
}

.gallery > aside > section > div:nth-child(7) {
    background: url("../images/gallery-5.jpeg");
    background-position: top !important;
}

.gallery > aside > section > div:nth-child(8) {
    background: url("../images/gallery-3.jpeg");
    grid-column: 1/4;
    grid-row: 3/4;
}

.gallery > aside > section > div:nth-child(9) {
    background: url("../images/gallery-8.jpg");
    grid-column: 4/6;
    grid-row: 3/4;
}


/* Contact */

.contact {
    position: relative;
}

.contact > h1 {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 3em;
    color: #313131;
}

.contact > aside {
    display: flex;
    align-content: center;
    justify-content: center;
}

.contact > aside > aside:first-child > div {
    position: relative;
    margin: 44px 88px 88px;
    height: 60px;
}

.contact > aside > aside:first-child {
    position: relative;
    display: inline-block;
    width: 500px;
}

.contact > aside > aside:first-child > div > h4 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 60px;
    font-size: 24px;
    color: #282828;
    margin: 0;
}

.contact > aside > aside:first-child > div > p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 60px;
    font-size: 1em;
    color: #646464;
    margin: 0;
}

.contact > aside > aside:first-child > div > i {
    display: inline-block;
    position: absolute;
    top: 10px;
    color: #3A86FF;
    font-size: 2em;
}

.contact > aside > aside:first-child > div:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact > aside > aside:last-child {
    display: inline-block;
    width: 700px;
}

fieldset {
    border: none;
}

.contact form {
    position: relative;
    display: inline-block;
    margin-bottom: 80px;
}

.contact form > fieldset > input {
    width: 650px;
    height: 60px;
    border: none;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-left: 10px;
    background: #ECF3FF;
}

.contact form > fieldset > textarea {
    padding: 10px;
    width: 650px;
    height: 170px;
    margin-bottom: 70px;
    border-radius: 10px;
    border: none;
    background: #ECF3FF;
}

.contact form > fieldset > button {
    height: 60px;
    color: white;
    border-radius: 8px;
    background-color: #3A86FF;
    border: none;
}


/* Footer */

footer {
    height: 300px;
    background-color: #3A86FF;
    position: relative;
}

footer > aside:first-child {
    position: relative;
}

footer > aside > section:first-child {
    position: relative;
    display: inline-block;
    width: 420px;
    height: 100px;
    left: 175px;
    top: 40px;
}

footer > aside > section:first-child > img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

footer > aside > section:first-child > h2 {
    position: absolute;
    display: inline-block;
    font-size: 1.5em;
    color: white;
    margin: 0;
    top: 15px;
    left: 150px;
}

footer > aside > section:first-child > h3 {
    position: absolute;
    display: inline-block;
    font-size: 1em;
    color: white;
    left: 150px;
    bottom: 15px;
    margin: 0;
}

footer > aside > img {
    position: absolute;
    top: 40px;
    right: 88px;
}

footer > aside:last-child {
    position: absolute;
    display: flex;
    width: 99.5vw;
    align-content: center;
    justify-content: center;
    bottom: 5px;
}

footer > aside:last-child > p, footer > aside:last-child > p > i {
    font-size: 0.6em;
    color: white;
}

button:hover, #button:hover {
    cursor: pointer;
    background-color: white;
    color: #3A86FF;
    border: 1px solid #3A86FF;
}

.social-icons-white {
    position: absolute;
    top: 160px;
    left: 325px;
}

.social-icons-white > img {
    margin-right: 25px;
}


/*                                        Media Queries                                    */

@media all and (max-width: 988px) {

    * {
        font-size: 15px;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    /* Background */
    .background li {
        width: 10px;
        height: 10px;
    }

    .background li:nth-child(0) {
        width: 64px;
        height: 64px;
        bottom: -64px;
    }
    .background li:nth-child(1) {
        width: 71px;
        height: 71px;
        bottom: -71px;
    }
    .background li:nth-child(2) {
        width: 8888px;
        height: 88px;
        bottom: -88px;
    }
    .background li:nth-child(3) {
        width: 73px;
        height: 73px;
        bottom: -73px;
    }
    .background li:nth-child(4) {
        width: 83px;
        height: 83px;
        bottom: -83px;
    }
    .background li:nth-child(5) {
        width: 98px;
        height: 98px;
        bottom: -98px;
    }
    .background li:nth-child(6) {
        width: 86px;
        height: 86px;
        bottom: -86px;
    }
    .background li:nth-child(7) {
        width: 63px;
        height: 63px;
        bottom: -63px;
    }
    .background li:nth-child(8) {
        width: 78px;
        height: 78px;
        bottom: -78px;
    }
    .background li:nth-child(9) {
        width: 55px;
        height: 55px;
        bottom: -55px;
    }


    /* Top bar */
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-bar > nav {
        display: none;
    }

    .top-bar img {
        width: 100px;
        margin: 0 0 0 44px;
    }

    .top-bar button {
        display: inline-block;
        margin-right: 44px;
        background: none;
        border: none;
    }

    .top-bar button i {
        font-size: 1.5em;
        color: #3A86FF;
    }


    /* Home content */
    .des-image {
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
        width: max-content;
    }

    .des-image img {
        width: 100px;
        height: 150px;
        border-radius: 15px;
    }

    .main-description {
        display: flex;
        flex-direction: column;
        z-index: 2;
        position: absolute;
        top: 300px;
        left: 0;
        right: 0;
        font-size: 15px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .main-description > h1, .main-description > h2, .main-description > h3 {
        width: max-content;
    }

    .social-icons {
        left: 0;
        right: 0;
        bottom: 100px;
        margin: auto;
        z-index: 5;
        width: max-content;
    }

    .social-icons > img {
        width: 25px;
        height: 25px;
        margin-right: 20px;
    }


    /* About Content */
    .about-section > aside:nth-child(3) > section {
        width: max-content;
        height: max-content;
        flex-direction: column;
        align-items: center;
    }

    .intro-image {
        width: max-content;
        margin: 0;
    }

    .intro-image > img {
        width: 200px;
        height: 280px;
        margin: 0;
    }

    .info {
        display: none;
    }

    .responsive-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
        font-weight: bold;
        color: #313131;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .responsive-info > p {
        text-align: center;
        width: max-content;
    }

    .responsive-info span {
        font-weight: normal;
        color: #646464;
    }

    .des {
        text-align: center;
        margin-bottom: 30px;
        width: 90vw;
    }

    .about-section button {
        width: 160px;
        height: 46px;
        margin-left: 80px;
    }


    /* Education */
    .edu > aside > section {
        width: 280px;
        height: 550px;
    }

    .edu-details {
        width: 100px;
        height: max-content;
    }

    .edu-details a {
        font-size: 12px;
    }

    .edu-details > p:nth-child(3) {
        font-size: 10px;
    }

    .edu-details > p:nth-child(4) {
        font-size: 10px;
    }

    .edu-details > p:first-child {
        margin-bottom: 8px;
    }

    .edu-details > p:nth-child(2) {
        margin: 0;
    }


    /* Skills */
    .skills {
        width: 99.5vw;
        height: 880px;
    }

    .skills > h1, .skills h2 {
        margin-bottom: 60px;
    }

    .skills > section > aside:nth-child(1) {
        width: 300px;
        height: 300px;
    }

    .skills > section > aside:nth-child(1) > img {
        position: absolute;
        height: 280px;
        width: 280px;
    }

    .skills > section > aside:nth-child(1) > img:nth-child(2) {
        height: 165px;
        width: 165px;
    }

    .skills > section > aside:nth-child(1) > section {
        z-index: 1;
        display: flex;
        flex-direction: row;
        width: 280px;
        height: 280px;
    }

    .skills > section > aside:nth-child(1) > section > div {
        position: relative;
        width: calc(100% / 5);
    }

    .skills > section > aside:nth-child(1) > section > div > div:first-child, .skills > section > aside:nth-child(1) > section > div > div:nth-child(2) {
        width: 30px;
        margin: auto;
        border-radius: 10px;
    }

    .skills > section > aside:nth-child(1) > section > div img {
        width: 30px;
        height: 30px;
    }

    .skills > section > aside:nth-child(1) > section > div p {
        font-size: 8px;
    }


    /* Languages */
    .skills > section > aside:nth-child(1) > section > div:first-child > div:first-child, .skills > section > aside:nth-child(1) > section > div:last-child > div:first-child {
        top: 165px;
    }

    .skills > section > aside:nth-child(1) > section > div:first-child > div:nth-child(2), .skills > section > aside:nth-child(1) > section > div:last-child > div:nth-child(2) {
        bottom: 165px;
    }

    .skills > section > aside:nth-child(1) > section > div:nth-child(2) > div:first-child, .skills > section > aside:nth-child(1) > section > div:nth-child(4) > div:first-child {
        top: 30px;
    }

    .skills > section > aside:nth-child(1) > section > div:nth-child(2) > div:first-child {
        margin-right: 20px;
    }

    .skills > section > aside:nth-child(1) > section > div:nth-child(4) > div:nth-child(2) {
        margin-left: 20px;
    }

    .skills > section > aside:nth-child(1) > section > div:nth-child(4) > div:first-child {
        margin-left: 20px;
    }

    .skills > section > aside:nth-child(1) > section > div:nth-child(2) > div:nth-child(2) {
        margin-right: 20px;
    }

    .skills > section > aside:nth-child(1) > section > div:nth-child(2) > div:nth-child(2), .skills > section > aside:nth-child(1) > section > div:nth-child(4) > div:nth-child(2) {
        bottom: 30px;
    }

    .skills > section > aside:nth-child(1) > section > div:nth-child(3) > div:first-child {
        top: 8px;
    }

    .skills > section > aside:nth-child(1) > section > div:nth-child(3) > div:nth-child(2) {
        bottom: 8px;
    }


    /* Certificates */
    .skills > section > aside:last-child > section {
        width: 90vw;
        height: 200px;
    }

    .skills > section > aside:last-child > section > div > button {
        margin: 10px;
    }

    .skills > section > aside:last-child > section > div:nth-child(2) > div:nth-child(1) {
        width: 160px;
        height: 115px;
        margin-right: -130px;
    }

    .skills > section > aside:last-child > section > div:nth-child(2) > div:nth-child(2) {
        width: 170px;
        height: 160px;
    }

    .skills > section > aside:last-child > section > div:nth-child(2) > div:nth-child(3) {
        width: 160px;
        height: 115px;
        margin-left: -130px;
    }

    .skills > section > aside:last-child > section > div > button > i {
        font-size: 2em;
    }

    .skills > section > aside:nth-child(2) {
        top: 340px;
    }


    /* Services */
    .services > div {
        flex-direction: column;
        width: 99.5vw;
        align-items: center;
        margin-bottom: 60px;
    }

    .services > div > div {
        margin: 0 0 40px;
        height: 220px;
        width: 275px;
    }


    /* Projects */
    .project > aside > section {
        width: 90vw;
        height: 480px;
        flex-direction: column;
    }

    .project > aside > section > div:nth-child(1) > img {
        width: 180px;
        height: 140px;
    }

    .project > aside > section > div {
        align-items: center;
    }

    .project > aside > section > div:nth-child(2) > h3 {
        text-align: center;
        margin: 0 0 30px;
    }


    .project > aside > section > div:nth-child(2) > h4 {
        text-align: center;
        margin: 0;
    }


    .project > aside > section > div:first-child {
        height: 75%;
    }

    .project > aside > section > div:nth-child(2) > ul {
        text-align: center;
        margin: 20px 0 30px;
        padding: 0;
    }

    .project > aside > section > div:nth-child(2) > ul > li {
        text-align: center;
        font-size: 12px;
    }

    .project > aside > section > div:nth-child(2) > button {
        width: 196px;
        height: 56px;
        margin: 0;
    }

    .project > aside > div {
        display: none;
    }

    .project > aside > section > div:nth-child(2) > button {
        width: 160px;
        height: 46px;
        margin: 0;
    }


    /* Gallery */
    .gallery > aside > section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .gallery > aside > section > div:first-child {
        grid-column: 1/4;
    }

    .gallery > aside > section > div:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .gallery > aside > section > div:nth-child(2) {
        background: url(../images/gallery-2.jpg);
        grid-column: 2/4;
    }

    .gallery > aside > section > div:nth-child(9) {
        background: url(../images/gallery-8.jpg);
        grid-column: 3/4;
        grid-row: 4/5;
    }

    .gallery > aside > section {
        width: 90vw;
    }


    /* Contact */
    .contact > aside {
        flex-direction: column;
    }

    .contact > aside > aside:last-child {
        width: 99.5vw;
        display: flex;
        justify-content: center;
    }

    .contact > aside > aside:first-child {
        flex-direction: column;
        display: flex;
        width: 100%;
    }

    .contact > aside > aside:first-child > div {
        margin: 0 0 0 40px;
    }

    .contact > aside > aside:first-child > div:last-child {
        margin: 0 0 60px 40px;
    }

    .contact form > fieldset > input, .contact form > fieldset > textarea {
        width: 90vw;
    }

    .contact form > fieldset > textarea {
        height: 200px;
        margin-bottom: 35px;
    }

    .contact form > fieldset {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .contact form > fieldset > button {
        width: 160px;
        height: 46px;
    }

    footer > aside > section:first-child {
        width: 300px;
        left: 10px;
        top: 40px;
    }

    footer > aside > section:first-child > img {
        width: 50px;
        height: 50px;
    }

    footer > aside > section:first-child > h2 {
        top: 5px;
        left: 80px;
    }

    footer > aside > section:first-child > h3 {
        left: 80px;
        bottom: 45px;
    }

    .social-icons-white {
        top: 120px;
        left: 90px;
    }

    .social-icons-white > img {
        width: 20px;
        margin-right: 20px;
    }

    footer > aside > img {
        top: 180px;
        right: 0;
        left: 0;
        margin: auto;
    }

}


@media all and (min-width: 989px) and (max-width: 1214px) {

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    /* Home */
    .main-description {
        top: 250px;
        left: 100px;
        font-size: 20px;
    }

    .des-image img {
        width: 180px;
        height: 250px;
    }

    .des-image {
        top: 300px;
        right: 140px;
    }

    .social-icons {
        left: 100px;
        bottom: 260px;
    }

    .social-icons img {
        width: 30px;
        margin-right: 28px;
    }

    /* About */
    .intro-image > img {
        width: 320px;
        height: 480px;
        margin-left: 68px;
    }

    .info {
        margin-bottom: 40px;
    }

    .intro-image {
        margin-right: 60px;
    }

    .des {
        margin-bottom: 60px;
    }


    /* Certificates */
    .skills > section > aside:last-child > section > div:nth-child(2) > div:nth-child(2) {
        width: 450px;
        height: 320px;
    }

    .skills > section > aside:last-child > section > div:nth-child(2) > div:nth-child(1) {
        width: 320px;
        height: 220px;
    }

    .skills > section > aside:last-child > section > div:nth-child(2) > div:nth-child(3) {
        width: 320px;
        height: 220px;
    }

    .skills > section > aside:last-child > section {
        width: max-content;
        height: 420px;
        justify-content: center;
    }

    .skills > section > aside:last-child > section > div > button {
        margin: 35px;
    }

    /* Services */
    .services > div > div > div:nth-child(2) > p {
        text-align: center;
    }

    .project > aside > section > div:nth-child(1) > img {
        width: 300px;
        height: 200px;
    }

    .gallery > aside > section {
        width: 90vw;
    }

    .contact > aside {
        flex-direction: column;
        align-items: center;
    }
}

/* Animations */
.edu-details > p:nth-child(1) {
    animation-name: edu-animate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

@keyframes line-animate {
    from {
        height: 0;
    }
    to {
        height: 500px;
    }
}

@keyframes edu-animate {
    from {
        font-weight: normal;
    }
    to {
        font-weight: bold;
    }
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}