* {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: #3A86FF;
}


/* Top bar */

.top-bar {
    position: fixed;
    z-index: 2;
    display: inline-block;
    background-color: white;
    height: 60px;
    width: 99.5vw;
    padding: 0;
    box-shadow: 4px 0 30px 10px #3A86FF;
}

.top-bar img {
    position: absolute;
    left: 10px;
    top: 10px;
    margin-left: 88px;
    margin-bottom: 5px;
}

main > section:first-child {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

.main-image {
    background-color: #c9c9c9;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: -1;
}

.main-image > img {
    width: 99.4vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 40%;
}

header li {
    display: inline-block;
    margin-left: 20px;
}

header ul {
    position: absolute;
    right: 88px;
    top: 0;
}

a {
    text-decoration: none;
    color: #313131;
}


/* Home */

.main-description {
    position: absolute;
    top: 200px;
    left: 200px;
    font-size: 30px;
    align-content: center;
    text-shadow: 0 4px 30px #3A86FF;
}

.main-description > h1 {
    font-size: 3em;
    color: #313131;
    margin-bottom: 10px;
}

.main-description > h2 {
    font-size: 2em;
    color: #3C3C3C;
    margin-bottom: 10px;
}

.main-description > h3 {
    font-size: 1.5em;
    color: #646464;
}

.des-image {
    position: absolute;
    right: 160px;
    top: 280px;
    margin: auto;
}

.des-image img {
    width: 228px;
    height: 304px;
    border-radius: 30px;
    box-shadow: 4px 0 76px 10px #3A86FF;
}

.social-icons {
    position: absolute;
    left: 200px;
    bottom: 100px;
}

.social-icons img {
    width: 40px;
    height: 100%;
    margin-right: 38px;
}

.social-icons img:hover {
    box-shadow: 4px 0 76px 10px #3A86FF;
    cursor: pointer;
}


/* About */

.about-section {
    display: inline-block;
    width: 99.5vw;
    margin-bottom: 80px;
}

.about-section > h1 {
    font-size: 3em;
    position: relative;
    text-align: center;
    margin-top: 100px;
    color: #313131;
}

.about-section > aside:nth-child(3) {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

.about-section > aside:nth-child(3) > section {
    position: relative;
    height: 650px;
    width: 1300px;
}

.intro-image {
    position: absolute;
    left: 0;
    top: 0;
}

.intro-image > img {
    width: 413px;
    height: 100%;
    border-radius: 10px;
    margin-left: 88px;
}

.info {
    display: inline-block;
    position: absolute;
    font-size: 1em;
    width: 590px;
    top: 0;
    right: 0;
    font-weight: bold;
    color: #313131;
}

.des {
    display: inline-block;
    position: absolute;
    width: 590px;
    height: 168px;
    right: 0;
    top: 335px;
}

.info span {
    font-weight: normal;
    color: #646464;
}

.des {
    color: #646464;
    margin-bottom: 100px;
}

.about-section button {
    position: relative;
    background-color: #3A86FF;
    width: 196px;
    height: 56px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-right: 30vw;
}


/* Education */

.edu {
    position: relative;
}

.edu > aside {
    display: flex;
    align-content: center;
    justify-content: center;
}

.edu > aside > section {
    position: relative;
    width: 700px;
    height: 600px;
}

.edu > h2 {
    display: block;
    text-align: center;
    font-size: 2em;
    color: #313131;
    margin-bottom: 80px;
}

.line {
    display: inline-block;
    position: absolute;
    border-left: 1px solid #3A86FF;
    height: 500px;
    width: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.edu-details {
    position: absolute;
    display: inline-block;
    width: 304px;
    height: 200px;
}

.edu section > div:nth-child(2) {
    left: 0;
    top: 0;
}

.edu section > div:nth-child(3) {
    right: 0;
    top: 166px;
}

.edu section > div:nth-child(4) {
    left: 0;
    top: 332px;
}

.edu section > div:nth-child(5) {
    right: 0;
    top: 498px;
}

.edu-details > p:first-child {
    color: #282828;
    font-size: 1em;
    margin-top: 0;
}

.edu-details a {
    text-decoration: none;
    color: #313131;
    font-size: 16px;
}

.edu-details > p:nth-child(3) {
    color: #BBBBBB;
    font-size: 16px;
}

.edu-details > p:nth-child(4) {
    color: #3A86FF;
    font-size: 16px;
}

.edu section > div:nth-child(6) {
    position: absolute;
    background-color: #3A86FF;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.edu section > div:nth-child(7) {
    position: absolute;
    background-color: #3A86FF;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 166px;
    margin: auto;
}

.edu section > div:nth-child(8) {
    position: absolute;
    background-color: #3A86FF;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 332px;
    margin: auto;
}

.edu section > div:nth-child(9) {
    position: absolute;
    background-color: #3A86FF;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 498px;
    margin: auto;
}


/*  Skills */

.skills {
    position: relative;
    display: inline-block;
    width: 99.5vw;
    height: 1530px;
    margin-bottom: 80px;
}

.skills > h1 {
    font-size: 3em;
    position: relative;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
    color: #313131;
}

.skills > section {
    position: relative;
}

.skills > section > aside:nth-child(1) {
    position: absolute;
    width: 628px;
    height: 628px;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
}

.skills > section > aside:nth-child(1) > img {
    position: absolute;
    height: 578px;
    width: 578px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    box-shadow: 4px 0 30px 10px #B8B8B8;
}

.skills > section > aside:nth-child(1) > img:nth-child(2) {
    box-shadow: 4px 0 76px 10px #3A86FF;
    border: 1px solid #3A86FF;
    height: 350px;
    width: 350px;
}

.skills > section > aside:nth-child(2) {
    position: relative;
}

.skills > section > aside:nth-child(2) {
    position: relative;
    height: 100vh;
    top: 760px;
}

.skills h2 {
    font-size: 2em;
    text-align: center;
    color: #313131;
    margin-bottom: 80px;
}

.skills div {
    position: relative;
    height: 306px;
    padding-left: 100px;
}

.skills div > img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 450px;
    height: 306px;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
}


/* Services */

.services {
    position: relative;
    display: inline-block;
    width: 99.5vw;
    margin-bottom: 20px;
}

.services > h1 {
    margin: 0 0 80px;
    text-align: center;
    font-size: 3em;
    color: #313131;
}

.services > div {
    display: flex;
    position: relative;
    /*padding-left: 200px;*/
    align-content: center;
    justify-content: center;
}

.services > div > div {
    position: relative;
    display: inline-block;
    margin-left: 44px;
    margin-right: 44px;
    margin-bottom: 80px;
    height: 300px;
    width: 400px;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
    border-radius: 10px;
}

.project {
    position: relative;
    margin-bottom: 80px;
}


/* Projects */

.project > h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 3em;
    color: #313131;
}

.project > aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project > aside > div {
    width: 780px;
    height: 450px;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
    border-radius: 10px;
}


/* Gallery */

.gallery > h1 {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 3em;
    color: #313131;
}

.gallery > section {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
}

.gallery > section > img {
    position: relative;
    height: fit-content;
    width: fit-content;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
}


/* Contact */

.contact {
    position: relative;
}

.contact > h1 {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 3em;
    color: #313131;
}

.contact > aside {
    display: flex;
    align-content: center;
    justify-content: center;
}

.contact > aside > aside:first-child > div {
    position: relative;
    margin: 44px 88px 88px;
    height: 60px;
}

.contact > aside > aside:first-child {
    position: relative;
    display: inline-block;
    width: 500px;
}

.contact > aside > aside:first-child > div > h4 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 60px;
    font-size: 24px;
    color: #282828;
    margin: 0;
}

.contact > aside > aside:first-child > div > p {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 60px;
    font-size: 1em;
    color: #646464;
    margin: 0;
}

.contact > aside > aside:first-child > div > i {
    display: inline-block;
    position: absolute;
    top: 10px;
    color: #3A86FF;
    font-size: 2em;
}

.contact > aside > aside:first-child > div:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact > aside > aside:last-child {
    display: inline-block;
    width: 700px;
}

.contact form {
    position: relative;
    display: inline-block;
    margin-bottom: 80px;
}

.contact form > fieldset > input {
    width: 650px;
    height: 60px;
    border: none;
    margin-bottom: 40px;
    border-radius: 10px;
    padding-left: 4px;
    background: #ECF3FF;
}

.contact form > fieldset > textarea {
    padding: 4px;
    width: 650px;
    height: 170px;
    margin-bottom: 70px;
    border-radius: 10px;
    border: none;
    background: #ECF3FF;
}

.contact form > fieldset > button{
    height: 60px;
    color: white;
    border-radius: 8px;
    background-color: #3A86FF;
    border: none;
}