header {
    position: relative;
    background-color: yellow;
    left: 0;
    top: 0;
    height: 60px;
    margin: 0;
}

.top-bar {
    position: relative;
    display: inline-block;
    background-color: white;
    height: 60px;
    width: 100vw;
    padding: 0;
}

.top-bar img {
    position: absolute;
    left: 10px;
    top: 10px;
    margin-left: 88px;
    margin-bottom: 5px;
}

.main-image > img {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 40%;
}

header li {
    display: inline-block;
    margin-left: 20px;
}

header ul {
    position: absolute;
    right: 88px;
    top: 0;
}

.main-description {
    position: absolute;
    top: 196px;
    left: 216px;
    font-size: 20px;
}

.main-description > h1 {
    font-size: 3em;
    color: #313131;
    margin-bottom: 10px;
}

.main-description > h2 {
    font-size: 2em;
    color: #3C3C3C;
    margin-bottom: 10px;
}

.main-description > h3 {
    font-size: 1.5em;
    color: #646464;
}

.des-image {
    display: inline-block;
    position: absolute;
    right: 160px;
    top: 212px;
    margin: auto;
}

.des-image img {
    width: 230px;
    height: 304px;
    border-radius: 30px;
}

.social-icons {
    position: absolute;
    left: 216px;
    bottom: 90px;
}

.social-icons img {
    margin-right: 38px;
}
