header{
    position: relative;
    left: 0;
    top: 0;
}

.top-bar{
    position: relative;
    display: inline-block;
    background-color: white;
    height: 60px;
    width: 100vw;
}

.top-bar img{
    position: absolute;
    left: 10px;
    top: 10px;
}

.main-image img{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

header li{
    display: inline-block;
}

header ul{
    position: absolute;
    right: 100px;
    top: 0;
}
