* {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
}

/* Top bar */

header {
    height: 60px;
}

.top-bar {
    position: fixed;
    z-index: 3;
    display: inline-block;
    height: 60px;
    width: 99.5vw;
    padding: 0;
    border-bottom: 2px solid #3A86FF;
    background-color: white;
}

.top-bar img {
    position: relative;
    margin-left: 88px;
    margin-top: 4px;
    width: 8em;
}

.top-bar button {
    display: none;
}

header li {
    display: inline-block;
    margin-left: 20px;
}

header ul {
    position: absolute;
    right: 88px;
    top: 0;
}

header ul li:hover a, header ul li:hover {
    cursor: pointer;
    color: #3A86FF;
}

a, header ul li {
    text-decoration: none;
    color: #313131;
}

main {
    position: relative;
}

h1 {
    text-align: center;
}

h2{
    font-size: 2em;
    margin-left: 20px;
}

h3 {
    margin-left: 40px;
}

aside {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: white;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
    margin: 50px;
}

.basics > a:nth-child(1) > section {
    background: url("../images/css-case-1.png");
    background-size: cover;
    background-position: center;
}

.basics > a:nth-child(2) > section {
    background: url("../images/css-case-2.png");
    background-size: cover;
    background-position: center;
}

.basics > a:nth-child(3) > section {
    background: url("../images/css-case-3.png");
    background-size: cover;
    background-position: center;
}

.transitions > a:nth-child(1) > section{
    background: url("../images/transitions-case-1.png");
    background-size: cover;
    background-position: center;
}
