* {
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
}

/* Top bar */

.top-bar {
    position: fixed;
    z-index: 3;
    display: inline-block;
    height: 60px;
    width: 99.5vw;
    padding: 0;
    border-bottom: 2px solid #3A86FF;
    background-color: white;
}

.top-bar img {
    position: relative;
    margin-left: 88px;
    margin-top: 4px;
    width: 8em;
}

.top-bar button {
    display: none;
}

header li {
    display: inline-block;
    margin-left: 20px;
}

header ul {
    position: absolute;
    right: 88px;
    top: 0;
}

header ul li:hover a, header ul li:hover {
    cursor: pointer;
    color: #3A86FF;
}

a, header ul li {
    text-decoration: none;
    color: #313131;
}


/* Main Content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > h1 {
    margin-top: 100px;
    color: #313131;
    font-size: 3em;
}

main > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    width: 90vw;
    height: 410px;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
    border-radius: 10px;
}

main > section > aside:first-child > div:nth-child(2) {
    display: flex;
    align-items: center;
    width: max-content;
}

main > section > aside:first-child > div:nth-child(2) > button {
    background: none;
    border: none;
    margin: 30px;
}

main > section > aside:first-child > div:nth-child(2) > button > i {
    color: #3A86FF;
    font-size: 2em;
}

main > section > aside:first-child > h2 {
    color: #2B2B2B;
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 88px;
}

h3 {
    color: #646464;
    font-size: 1em;
}

p {
    color: #B8B8B8;
    font-size: 1em;
}

span {
    color: #3A86FF;
}

@media all and (min-width: 320px) and (max-width: 768px) {

    header ul {
        right: 20px;
    }

    main > h1 {
        font-size: 1em;
    }

    main > section {
        flex-direction: column;
        width: 90vw;
        height: max-content;
        align-items: center;
    }

    img {
        width: 50vw;
    }

    main > section > aside:first-child > div:nth-child(2) > button > i {
        font-size: 1em;
        text-align: center;
    }

    main > section > aside:first-child > div:nth-child(2) {
        width: 90vw;
        justify-content: center;
    }

    main > section > aside:first-child > h2 {
        margin-top: 40px;
        margin-bottom: 44px;
        font-size: 1em;
    }


    p,span {
        padding: 2px;
        font-size: 0.8em;
    }
}
