body {
    background-color: rgba(0, 0, 0, 0.93);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97.5vw;
    height: 97.5vh;
}

#container {
    display: flex;
    width: 90vw;
    height: 70px;
}

#container > div {
    width: 100%;
    height: 70px;
    border: 1px solid white;
}

button{
    width: 100px;
    height: 50px;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    color: white;
}

#btnStart{
    background: #3A86FF;
}

#btnStop{
    background: #E94F5B;
}
